@model CiceroApp.Models.Colaborador
@{
    ViewBag.Title = "Listar";
}

<h2>Colaborador</h2>

<div><b>@Html.LabelFor(model => model.ColabId): </b>@Model.ColabId</div>

<div><b>@Html.LabelFor(model => model.NomeColab): </b>@Model.NomeColab</div>

<div><b>@Html.LabelFor(model => model.NascColab): </b>@Model.NascColab</div>

<div><b>@Html.LabelFor(model => model.ObsColab): </b>@Model.ObsColab</div>

<div><b>@Html.LabelFor(model => model.EmailColab): </b>@Model.EmailColab</div>

<div><b>@Html.LabelFor(model => model.LoginColab): </b>@Model.LoginColab</div>



