@model QuintaApp.Models.Funcionario
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<div><b>@Html.LabelFor(x => x.FuncID)</b></div>
<div>@Model.FuncID</div>


<div><b>@Html.LabelFor(x => x.FuncNome)</b></div>
<div>@Model.FuncNome</div>

<div><b>@Html.LabelFor(x => x.FuncFuncao)</b></div>
<div>@Model.FuncFuncao</div>
<br />
@Html.ActionLink("Voltar","Index","Home")